* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  font-family: circularStd-medium;
  src: url(./assets/fonts/CircularStd-Medium.ttf);
}

@font-face {
  font-family: circularStd-black;
  src: url(./assets/fonts/CircularStd-Black.ttf);
}

a{
  text-decoration: none;
  color: #111111;
}

.wrapper{
  display: flex;
  flex-direction: column;
}

/********************************************** Header ***********************/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  box-sizing: border-box;
  padding: 30px;
  position: fixed;
  background-color: white;
}

.headerItems{
  list-style: none;
  font-family: circularStd-medium;
  font-size: 16px;
}

.headerItemContainer{
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-family: circularStd-black;
  font-size: 32px;
  color: #111111;
}

.spacer{
  height: 100px;
}

/********************************************** post Section **********/

.sections{
  width:100vw;
  height: 100vh;
}

/********************************************** Section Texts Style **********/

.list{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.listRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.bold{
  font-family: circularStd-black;
  font-size: 18px;
  margin-right: 5px;
}

.listTxt{
  font-family: circularStd-medium;
  font-size: 18px;
}

.nums{
  margin-right: 10px;
}

.sectionHeading{
  font-family: circularStd-black;
  font-size: 108px;
  letter-spacing: -5.19px;
}

.sectionTitle{
  font-family: circularStd-black;
  font-size: 16px;
}

.leftTxtCont{
  margin-left: 50px;
}

/********************************************** Causes Section **********/

.causesCont{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.causesImg{
  width: 704px;
  height: 546px;
  background-image: url('./assets/graphics/causesImg.png');
}

